In [1]:

import numpy as np
import pandas as pd
import seaborn as sns
import os as os


#TODO Introducir el dataset con el que se vaya a trabajar
df = pd.read_csv('data_jci/jci_output.csv')
df = df[['identificacion', 'ddd', 'dddstd', 'dddx', 'fhora', 'hr', 'lluv', 'pres', 'temp', 'ts', 'vel', 'velx', 'qdato']]


#! OBTENCIÓN DE UNA MUESTRA SI EL DATASET ES MUY GRANDE
# df = df.sample(n=100, random_state=42)
print(df.shape)
df.info()

NameError: name 'df_copy' is not defined

In [ ]:
df['fhora'].head()

In [10]:
df.isnull().sum()

identificacion         0
ddd                    0
dddstd                 0
dddx                   0
fhora                  0
hr                     0
lluv              697336
pres              715150
temp              693383
ts                836262
vel               651992
velx              653129
qdato                  0
dtype: int64

In [19]:
año = 1988
df_null = pd.DataFrame()

for i in range(35):
    df = pd.read_json(f'data_jci/jci_{año}.json')
    df = df[['identificacion', 'ddd', 'dddstd', 'dddx', 'fhora', 'hr', 'lluv', 'pres', 'temp', 'ts', 'vel', 'velx', 'qdato']]

    df_null[año] = df.isnull().sum()
    año += 1

In [20]:
df_null.transpose()

,identificacion,ddd,dddstd,dddx,fhora,hr,lluv,pres,temp,ts,vel,velx,qdato
1988,0,0,0,0,0,0,47067,47359,47524,47524,47159,47327,0
1989,0,0,0,0,0,0,41341,44260,41504,51846,41511,41361,0
1990,0,0,0,0,0,0,45627,47056,45452,51846,45537,45626,0
1991,0,0,0,0,0,0,46379,51306,46046,51852,46395,46383,0
1992,0,0,0,0,0,0,51174,50662,50511,51846,50492,50808,0
1993,0,0,0,0,0,0,50923,50811,50814,51846,50823,50924,0
1994,0,0,0,0,0,0,41086,40868,41047,51846,41230,41343,0
1995,0,0,0,0,0,0,44016,44013,44025,51846,44488,44048,0
1996,0,0,0,0,0,0,46890,46892,46902,51852,47036,46975,0
1997,0,0,0,0,0,0,13622,16290,13582,48022,13845,13804,0
1998,0,0,0,0,0,0,42514,40944,40632,50850,41069,41231,0
1999,0,0,0,0,0,0,7850,7868,8824,20247,8082,7909,0
2000,0,0,0,0,0,0,8605,8707,8618,37993,8706,8707,0
2001,0,0,0,0,0,0,35820,40790,29473,35461,29464,29464,0
2002,0,0,0,0,0,0,34959,34959,34959,38295,34960,34961,0
2003,0,0,0,0,0,0,23136,23138,23200,25236,23216,23203,0
2004,0,0,0,0,0,0,40584,9505,7451,41177,4942,6016,0
2005,0,0,0,0,0,0,0,20,1,342,0,0,0
2006,0,0,0,0,0,0,5,34,4,3,3,3,0
2007,0,0,0,0,0,0,0,0,0,0,0,1,0
2008,0,0,0,0,0,0,24,28,27,23,317,23,0
2009,0,0,0,0,0,0,1489,1672,3854,1513,1511,1560,0
2010,0,0,0,0,0,0,1,3,6,264,0,0,0
2011,0,0,0,0,0,0,7,9,10,7,7,7,0
2012,0,0,0,0,0,0,2,0,23,0,0,0,0
2013,0,0,0,0,0,0,0,0,0,0,0,1,0
2014,0,0,0,0,0,0,4,0,1577,0,0,0,0
2015,0,0,0,0,0,0,3682,5241,6420,5794,3682,3750,0
2016,0,0,0,0,0,0,9095,9119,9120,9095,9095,9095,0
2017,0,0,0,0,0,0,6422,6435,6503,6422,6422,6422,0
2018,0,0,0,0,0,0,580,583,583,581,576,575,0
2019,0,0,0,0,0,0,888,32725,32726,888,888,902,0
2020,0,0,0,0,0,0,1915,1951,2016,1916,1918,1914,0
2021,0,0,0,0,0,0,3215,3214,1099,979,134,134,0
2022,0,0,0,0,0,0,1239,1220,1217,1217,1217,1217,0

In [ ]:
# Crear columna, separar fecha y hora. Que de la hora, minuto, segundo, resuma en hora de 0 a 24.

In [21]:
df = pd.read_json(f'data_jci/jci_2019.json')

df.to_csv('jci_2019.csv', index=False)

,identificacion,nombre,latitud,longitud,altitud,srs,alt_nieve,ddd,dddstd,dddx,...,global,ir_solar,neta,par,tcielo,ttierra,uvab,uvb,uvi,qdato
0,89064,JCI Estacion meteorologica,-62.66325,-60.38959,12,WGS84,0.0,199,43,189,...,0,0,0,0,0,0,0,0,0,0
1,89064,JCI Estacion meteorologica,-62.66325,-60.38959,12,WGS84,NaN,48,84,51,...,0,0,0,0,0,0,0,0,0,0
2,89064,JCI Estacion meteorologica,-62.66325,-60.38959,12,WGS84,NaN,81,25,62,...,0,0,0,0,0,0,0,0,0,0
3,89064,JCI Estacion meteorologica,-62.66325,-60.38959,12,WGS84,NaN,88,18,95,...,0,0,0,0,0,0,0,0,0,0
4,89064,JCI Estacion meteorologica,-62.66325,-60.38959,12,WGS84,NaN,88,20,98,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,89064,JCI Estacion meteorologica,-62.66325,-60.38959,12,WGS84,NaN,252,18,235,...,0,0,0,0,0,0,0,0,0,0
96,89064,JCI Estacion meteorologica,-62.66325,-60.38959,12,WGS84,0.0,259,22,242,...,0,0,0,0,0,0,0,0,0,0
97,89064,JCI Estacion meteorologica,-62.66325,-60.38959,12,WGS84,NaN,264,10,264,...,0,0,0,0,0,0,0,0,0,0
98,89064,JCI Estacion meteorologica,-62.66325,-60.38959,12,WGS84,NaN,273,12,263,...,0,0,0,0,0,0,0,0,0,0
99,89064,JCI Estacion meteorologica,-62.66325,-60.38959,12,WGS84,NaN,281,9,283,...,0,0,0,0,0,0,0,0,0,0