In [1]:
import pandas as pd

df = pd.read_csv('data.txt')

df.head()

  Obtime  WIND_SPEED WIND_DIRECTION PRESENT_WEATHER PAST_WEATHER MSL_PRESSURE DRYBULB_TEMPERATURE RELATIVE_HUMIDITY DEWPOINT NEW_TEMPERATURE
0  1995 12 31 21 00 4 170 3 22 994.5 2.5 96.415 2...
1  1995 12 31 18 00 10 150 3 42 996.9 3.1 96.403 ...
2  1995 12 31 15 00 5 100 40 42 998 1.6 96.931 1....
3  1995 12 31 12 00 2 190 46 22 998.3 1.6 96.931 ...
4  1995 12 31 09 00 0 0 10 0 999.3 .5 96.957 .5 -...